<div class="login-container">
  <h2>Crear cuenta</h2>
  <p>¡Bienvenido a bordo con nosotros!</p>

  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre completo">
            <div *ngIf="registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid" class="text-danger">
            El nombre es obligatorio.
            </div>
      </div>

      <div class="form-group">
          <label for="sexo">Sexo</label>
          <input id="sexo" formControlName="sexo" placeholder="Ingresa tu sexo" />
      </div>

      <div class="form-group">
          <label for="peso">Peso</label>
          <input id="peso" formControlName="peso" placeholder="Ingresa tu peso" />
      </div>

      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" id="correo" class="form-control" formControlName="correo" placeholder="Correo electrónico">
        <div *ngIf="registroForm.get('correo')?.touched && registroForm.get('correo')?.invalid" class="text-danger">
          <div *ngIf="registroForm.get('correo')?.errors?.['required']">
            El correo es obligatorio.
          </div>
          <div *ngIf="registroForm.get('correo')?.errors?.['email']">
            El formato del correo no es válido.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input
          type="password"
          id="contrasena"
          class="form-control"
          formControlName="contrasena"
          placeholder="Ingresa tu contraseña"
        >
        <div *ngIf="registroForm.get('contrasena')?.touched && registroForm.get('contrasena')?.invalid" class="text-danger">
          <div *ngIf="registroForm.get('contrasena')?.errors?.['required']">
            La contraseña es obligatoria.
          </div>
          <div *ngIf="registroForm.get('contrasena')?.errors?.['minlength']">
            La contraseña debe tener al menos 6 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
          <label for="edad">Edad</label>
          <input id="edad" formControlName="edad" placeholder="Ingresa tu edad" />
      </div>

      <div class="form-group">
          <label for="talla">Altura</label>
          <input id="altura" formControlName="altura" placeholder="Ingresa tu talla" />
      </div>

  
      <div class="form-group">
          <label for="alergias">Alergias</label>
          <input id="alergias" formControlName="alergias" placeholder="Ingresa tus alergias" />
      </div>

      <div class="form-group">
          <label for="tipo_sangre">Tipo de sangre</label>
          <input id="tipo_sangre" formControlName="tipo_sangre" placeholder="Ingresa tu tipo de sangre" />
      </div>

      <div class="form-group">
          <label for="enfermedad">Enfermedades</label>
          <input id="enfermedad" formControlName="enfermedad" placeholder="Ingresa tus enfermedades" />
      </div>

      <div class="form-group">
          <label for="direccion">Dirección</label>
          <input id="direccion" formControlName="direccion" placeholder="Ingresa tu dirección" />
      </div>

      <button type="submit" class="btn-login">CREAR</button>
  </form>
</div>
