<h2 mat-dialog-title>Editar Cita</h2>
<mat-dialog-content [formGroup]="citaForm">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Paciente</mat-label>
    <input matInput formControlName="nombrePaciente" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Fecha</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fecha" />
 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Motivo</mat-label>
    <input matInput formControlName="motivo" />
  </mat-form-field>


<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
