<div class="table-container">
    <h2 class="table-title">Historial de Citas</h2>
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="idcitas">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Folio Cita </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.idcitas }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nombrePaciente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Paciente </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nombrePaciente }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nombreMedico">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Médico </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nombreMedico }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.fecha | date: 'dd/MM/yyyy' }} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="motivo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.motivo }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="estatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.estatus }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element" >
                   
          <button mat-button (click)="detallesCita(element)" class="Cvbtn" *ngIf="element.estatus === 'cancelada'">
            <svg style="color: #fad028"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64"/>
            </svg>
          </button>
          <button mat-button (click)="CancelarCita(element)" class="elibtn" *ngIf="element.estatus === 'pendiente'">
            <svg style="color:rgb(255, 0, 0) ;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgb(255, 0, 0)" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
          </button>
          &nbsp;
          <button mat-button (click)="openDialog(element)" class="editbtn" *ngIf="element.estatus === 'pendiente'">
            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(55, 130, 168)" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
            </svg>  
          </button>
          <button mat-button (click)="detallesCita(element)" class="Grbtn" *ngIf="element.estatus === 'finalizada'">
            <svg style="color: #1a8a04d6" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
            </svg>
          </button>
        </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
<mat-paginator [length]="dataSource.data.length"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
  </div>
  